#favs, #modal-more {
    width: 512px;
    padding: 5px;
}
#modal-more {
    border:1px solid gray;
    margin-bottom: 5px;
}
#modal-more a {
    margin-right: 30px;
}
#modal-more .modal-footer {
    margin-top: 5px;
    text-align: right;
}
#favs {
    display: block;
    /* margin-top: 1rem; */
    /* padding:10px; */
    background-color: lightyellow;
}
#favs ul {
    padding-left: 10px;
}
#favs li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}
#favs li:before {
    content: "- ";
}
a:visited {
    color: blue;
}
body {
    margin-top:30px;
}
.fade {
    display: none;
}