.p-20 {
    padding: 20px;
}

.d-none {
    display: none !important;
}

h2 {
    font-size: 1.5rem;
}

#app-desc {
    color: gray;
    /* font-size: .8rem; */
    /* width: 512px; */
    text-align: center;
    margin: 0 auto;
    /* padding-left: 10px; */
}
#funding-needed {
    padding: 10px;
    background-color: #fcf8e3;
    border: 2px solid rgba(255,248,227);
    position:relative;
    color: gray;
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
}
#funding-needed > .inner {
    position:absolute; 
    top:5px; 
    right:5px;
}

@media screen and (min-width:658px) {
    #app-desc, #funding-needed {
        width: 50vw;
    }
}

.spacer-v {
    margin-top: 10px;
}

#buttons {
    /* padding-left: 10px; */
    text-align: center;
    margin-top: 20px;
}

#buttons button {
    margin-top: 10px;
    margin-right: 10px;
}

#favs-wrapper {
    margin-top: 30px;
}

#discover-more {
    padding-left: 10px;
}

#most-recent.active {
    border: 2px solid lightblue;
}

#favs-wrapper iframe {
    width: 100%;
    height: 1px;
    border: 0;
    /* margin-bottom: 2rem; */
}

body {
    margin: 0 !important;
}

.maximized {
    width: 100%;
    height: 100%;
}

.float-right {
    float: right;
}

.panel {
    /* max-width: 512px; */
    display: inline-block;
    min-height: 125px;
    vertical-align: top;
}

@media screen and (min-width: 1090px) {
    .panel {
        width: 48vw;
    }
}

#player {
    min-width: 50vw;
    display: block;
    margin: 0 auto;
}

#playlist-name-flash {
    width: 50vw;
    display: block;
    margin: 0 auto;
    padding: 0 5px;
    z-index: 9999;
    opacity: .90;
    font-size: 1.2rem;
    background-color: darkgray;
    color: white
}

#favs-wrapper {
    /* min-width: 512px; */
    margin: 0 auto;
}